body {
    background: rgb(25,80,164);
    background: linear-gradient(0deg, rgba(25,80,164,1) 6%, rgba(0,1,4,1) 52%);
}

header {
    background: black;
}

.logo {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;
}

.nav-item {
    width: 30vh;
}

@media only screen and (max-width: 992px)  {
    .desktop-hidable {
        display: none;
    }
}